---
{title-block}title: "{title}"{end-title-block}
{tags-array-block}tags: {tags-array}{end-tags-array-block}
{created-at-block}date: {created-at}{end-created-at-block}
{created-at-block}created: {created-at}{end-created-at-block}
{updated-at-block}updated: {updated-at}{end-updated-at-block}
{updated-at-block}lastmod: {updated-at}{end-updated-at-block}
{source-url-block}source: {source-url}{end-source-url-block}
{location-block}location: {location}{end-location-block}
{link-to-original-block}html: "[[{link-to-original}]]"{end-link-to-original-block}
{evernotelink-block}evernoteSource: {evernotelink}{end-evernotelink-block}
{evernoteguid-block}evernoteGuid: {evernoteguid}{end-evernoteguid-block}
{evernoteguid-block}slug: {evernoteguid}{end-evernoteguid-block}
---
{content-block}{content}{end-content-block}
