---
{title-block}    title: "{title}"{end-title-block}
{tags-array-block}    tags: {tags-array}{end-tags-array-block}
{created-at-block}    created: {created-at}{end-created-at-block}
{updated-at-block}    updated: {updated-at}{end-updated-at-block}
{source-url-block}    source: {source-url}{end-source-url-block}
{location-block}    location: {location}{end-location-block}
{link-to-original-block}    html: "[[{link-to-original}]]"{end-link-to-original-block}
---
{title-block}# {title}{end-title-block}
{content-block}{content}{end-content-block}
